.sf {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
  font-style: italic;
  font-size: 40px;
}

/*.sfback {
  background: grey;
  width: 1000px;
  height: 100px;
  opacity: .50;
}*/



.sftext {
  color:white;
  font-weight: bold;
  font-size: 13px;
}

.bride-groom-infos {
  margin-top: 150px;
}

.nomarg {
  margin: 0;
}

.pt-xlg {
  padding-top: 13px;
}

.wedding-schedule1 {
	position: relative;
	height: 500px;
	max-height: 500px;
	max-width: 430px;
	padding: 10px;
	margin: 0 auto;
}
.wedding-schedule1:before {
	content: '';
	display: block;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 146%;
	height: 125%;
	top: 50%;
	left: 50%;
	z-index: -3;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.wedding-schedule1 .wedding-schedule-photo {
	height: 185px;
	overflow: hidden;
	text-align: center;
}
.wedding-schedule1 .wedding-schedule-photo img {
	position: relative;
	width: auto;
	border-radius: 6% 6% 0 0;
	z-index: -2;
	height: 190px;
}
.wedding-schedule1 .wedding-schedule-background1 {
  	position: absolute;
  	background: url(../../img/demos/wedding/the-wedding/the-wedding-bg-1.png);
  	background-size: 100% 100%;
  	width: 98%;
  	height: 99%;
  	top: 50%;
  	left: 50%;
  	z-index: -1;
  	-webkit-transform: translate3d(-50%, -50%, 0);
  	-moz-transform: translate3d(-50%, -50%, 0);
  	-ms-transform: translate3d(-50%, -50%, 0);
  	-o-transform: translate3d(-50%, -50%, 0);
  	transform: translate3d(-50%, -50%, 0);

  }
  .wedding-schedule1 .icon-heart-white-border {
  	position: absolute;
  	top: 34.7%;
  	left: 50%;
  	-webkit-transform: translate3d(-50%, -50%, 0);
  	-moz-transform: translate3d(-50%, -50%, 0);
  	-ms-transform: translate3d(-50%, -50%, 0);
  	-o-transform: translate3d(-50%, -50%, 0);
  	transform: translate3d(-50%, -50%, 0);
  }
  .wedding-schedule1 span {
  	display: block;
  }
  .wedding-schedule1 .btn {
  	border-radius: 20px;
  }

.thumb-info-wrapper {
  border-radius: 20px
}
